################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/COSC2437_Assignment2/COSC2437_Assignment2.VC.VC.opendb
